html {
   height: 100%; 
}

body {
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 72.0%;
    background: #eeeeee;
    text-align: justify;
  
 
}

h1,h2,h3,h4 {
    text-shadow: 1px 1px 3px gray;
}


#content {
    width: 500px;
    float:left;
    font-size:12pt;
    height: 600px;
	background: white;
	padding: 1em 1em 1em 1em;
	display: block;
    -webkit-border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
    -o-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
}

#content h2 {
    text-align: center;
    font-size: 16pt;
}

.entity-card {
    float: left;
    font-size:8pt;
    height: auto;
    width: 400px;
    background: white;
    margin-left: 1em;
    padding: 1em 1em 1em 1em;
    display: inline;
    -webkit-border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    border: 1px solid gray;
}

#widgets h2 {
    width: 300px;
    font-size: 70%;
    height: auto;
	  background: white;
    margin-left: 640px;
	  padding: 1em 1em 1em 1em;
	  display: block;
    -webkit-border-radius: 0.8em;
    -moz-border-radius: 0.8em;
  
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
    -o-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
}

#widgets div {
    margin: 1em 0;
}
date.ui-draggable {
color: green;
}

#sample_img {
	width: 300px;
}

a {
    text-decoration: none;
    color: #1b1eb4;
}

<-- [about] {
	//text-shadow: 0 0 0.1em #87F;
//	color: navy;
//	cursor: move;
//	z-index: 9999;
// } -->

.hover{
	text-shadow: 1px 1px 4px #87F;

}
.clickable{
color:blue;
}
.close-btn  {
float: right;
top:-8px;
right:-8px;
width:16px;
height:16px;
border:2px solid #ccc;
color:#999;
line-height:17px;
text-align:center;
font-size:13px;
border-radius:10px;
box-shadow:0 1px 3px rgba(0,0,0,0.75);
cursor:pointer;
}